.DS_store
target/
classes/
lsp/
__pycache__/
.ipynb_checkpoints/
*.ipynb

# IDEA artifacts and output dirs
*.iml
*.ipr
*.iws
*.idea
*.log

# Eclipse artifacts, including WTP generated manifests
.classpath
.project
/export
/maven
*.swp
*.swo
.code_stats.csv
.vscode/

prompt.txt
build/
internal/fs/templates/jar/

cpu_profile.pb.gz
cpu_flamegraph.svg
cpu_profile.folded
cpu_profile.txt

# antlr generated
*.interp
*.tokens

# handy tmp files
a
b
